
/* rules for (almost) entire body */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: black;
    margin: 0;
}

/* header and nav links */
header {
    padding: 15px 25px;
    background-color: #bce8f7;
    background-image: url("../images/");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: orchid;
    margin: 0 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li a {
    margin: 0 30px;
    color: orchid;
    text-decoration: none;
    
}

/* hero and blurb */

.hero {
    background-color: rgb(177, 255, 146);
    background-image: url("../images/catskullanimation.gif");
    background-size: cover; 
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

footer {
    background-color: #bce8f7;
    padding: 15px 25px;
    width: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h2 {
    font-weight:bolder;
    margin: 0;
}

footer ul {
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer ul li {
    padding: 0 15px;
}

footer ul li a {
    color: orchid;
    text-decoration: none; 
}