
/* rules for general body */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* scroll bar styles */
html {  
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
width: 0;
background: transparent;
}

#progressBarContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background-image: linear-gradient(0deg, hsl(297,86%,59%),hsl(342,86%,59%),hsl(27,86%,59%),hsl(72,86%,59%),hsl(117,86%,59%),hsl(162,86%,59%),hsl(207,86%,59%),hsl(252,86%,59%));    height: 100%;
    height: 0;
    opacity: 0;
  }

/* below are overall styles  */
body {
    background-color: #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.h2-fonts {
    font-family: 'UnifrakturMaguntia', 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 0.02rem;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    display: flex;
}

.about, .work {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin: 25px; */
    padding: 10px 25px;
}

header,
footer {
    padding: 15px 55px;
}

header nav li a:hover,
footer ul li a:hover {
    color: #ff00b3;
}

header nav li a:before {
    content: '♡';
    color: #ff00b3;
    opacity: 0;
    display: inline-block;
    margin-right: 5px;
}

header nav li a:hover:before {
    opacity: 1;
}


/* header footer and nav links */
header {
    background-color: #000000;
    width: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'UnifrakturMaguntia', 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    padding: 0 60px;
}

header nav ul li a {

    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

footer {
    background-color: #000000;
    width: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    font-weight: bolder;
    margin: 0;
}

footer ul {
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer ul li {
    padding: 0 15px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none; 
    
}

/* hero and blurb */
.hero {
    background-color: #000000;
    background-image: url("../images/catblackandwhite.gif");
    background-size: auto; 
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 25px 50px;
}

.hero h2 {
    margin: 0 20px;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
}


/* about me styling */

.about h2{
    margin: 25px;
    margin-right: 55px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    flex-direction: row-reverse;
    /* flex: 1 100%; */
}

.about-img-p {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-img-p span {
    width: 100%;
    color: #ff00b3;
}

.about img {
    margin: 10px;
    border: 10px double white;
    width: 30%;
}

.about p {
    margin: 25px;
    margin-left: 55px;
    font-weight: lighter;
}

/* work grid nightmare here  */

.work h2{
    margin: 25px;
    margin-right: 55px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    flex-direction: row-reverse;
}

.gridwrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 100px;
}

.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;

}

.container-1 {
    grid-column: 1 / span 2;
}

.work-thumb {
    width: 100%;
    position: relative;
}

.work-thumb img {
    width: 100%;
    border: 10px double white;
}

.work-thumb figcaption {
    position: absolute;
    z-index: 2;
    bottom: 30%;
    right: 10px;
    padding: 5px;
    background-color: white;
    font-family: 'UnifrakturMaguntia', 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: black;
    opacity: 0;
    transition: opacity 0.25s ease, bottom 0.25s ease;
}

.work-thumb:hover figcaption {
    opacity: 1;
    bottom: 45%;
}

.work-thumb:first-child figcaption {
    bottom: 10%;
}

.work-thumb:hover:first-child figcaption {
    bottom: 15%;
}


.work-thumb figcaption small {
    display: inline-block;
    margin-top: 1px;
    font-size: 70%;
    font-family: 'Times New Roman', Times, serif;
}



/* 980 and smaller screens */

@media screen and (max-width: 980px) {

    .about-img-p span {
        color: #f79bd2;
    }
    
}

/* for tablets and smaller */

@media screen and (max-width: 768px) {

    header, footer {
        flex-direction: column;
    }

    header h2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hero {
        justify-content: center;
        padding: 10px;
        height: 400px;
    }

    header ul li {
        padding: 0px 20px;
    }

    .hero h2 {
        margin: 0 5px;
        font-size: 25px;
    }

    .h2-fonts {
        font-size: 25px;
    }

    .wrapper {
        flex-direction: column;
    }

    h2.mediafont.h2-fonts {
        writing-mode: initial;
        transform: none;
        text-align: center;
    }

    .about-img-p, .gridwrapper {
        margin-left: 0px;
    }

    .about img {
        width: 25%;
    }

    .about p {
        font-size: 18px;
    }

    .about, .work {
        margin: 0px;
    }

    .about-img-p span {
        color: #009371;
    }


    .work-container {
        max-width: 70%;
    }

    .work-thumb figcaption {
        bottom: 45%;
        opacity: 1;
    }

    work-thumb:first-child figcaption {
        bottom: 15%;
    }

    /* scroll bar styles  */
    #progressBarContainer {
        width: 0px;
        background: #000000;
    }

    #progressBar {
        width: 0px;
        opacity: 1;
        background-color: #000000;
    }

}

/* small phones and smaller phones */

@media screen and (max-width: 575px) {

    header ul li {
        padding: 0px 10px;
    }

    .hero h2 {
        font-size: 25px;
    }

    .about p {
    font-size: 12px;
    }

    .about-img-p span {
        color: #37a7df;
    }

    .work-container {
        width: 65%;
    }

    footer ul li {
        padding: 0px 5px;
        white-space: nowrap;
        font-size: 12px;
    }
}

/* actual phone size */
@media screen and (max-width: 400px) {

    header ul li {
        padding: 0px 8px;
    }

    header nav ul li a {
        font-size: 10px;
    }

    header, footer {
        height: 85px;
    }

    .hero {
         height: 700px;
    }

    .hero h2 {
        font-size: 25px;
        margin-bottom: 125px;
    }

    .about-img-p {
        align-items: center;
        flex-direction: column;
    }
    
    .about img {
        width: 70%;
    }

    footer {
        flex-wrap: nowrap;
    }

    .about p {
        margin: 25px;
        text-align: center;
    }

    .about-img-p span {
        color: #19ca31;
    }

    footer ul {
        flex-direction: column;
    }

    footer ul li {
        padding: 5px 0;
    }

    footer ul li:last-child {
        margin-bottom: 20px;
    }

    .work-container {
        width: 80%;
    }

    .work-thumb figcaption {
        right: 10px;
        padding: 2px;
        font-size: 12px;
    }
}

.work-thumb:first-child figcaption {
    bottom: 25%;
}

@media screen and (max-width: 400px) {
    h1 {
        background: -webkit-linear-gradient(
            5deg,
            #e73df0,
            #f03d72,
            #f08d3d,
            #ccf03d,
            #46f03d,
            #3df0ba,
            #3d9ff0,
            #613df0 
        );
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: lighter;
    }
}