/* general styling */

@font-face {
  font-family: "hybrid-bold";
  src:local("Hybrid_b.tff"), url("./font/Hybrid_b.ttf")
  format("truetype")
}

@font-face {
  font-family: "hybrid-outline";
  src:local("hybrid_o.tff"), url("./font/hybrid_o.ttf")
  format("truetype")
}

@font-face {
  font-family: "open-sans";
  src:local("OpenSans.ttf"), url("./font/OpenSans.ttf")
  format("truetype")
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  font-family: "open-sans";
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  height: 100vh;

}

section {
  margin-left: 10%;
  width: 100%;
  display: flex;
  /* align-items: flex-end; */
}

/* App.js */

main {
  margin: 2%;
  padding: 3px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: auto;
}

h1 {
  font-family: "hybrid-outline";
  font-weight: lighter;
  font-size: 50px;
  letter-spacing: 5px;
  margin-left: 20px;
  color: #fe00b0;
}

.esc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  margin: 5px;

}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid #000;
}

.browser-window {
  display: flex;
  /* flex: 1; */
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;  */
  /* flex: 1 1 auto;  */
  flex-direction: row;
  padding: 25px;
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
}

/* Nav component  */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

header h2 {
  font-family: "hybrid-bold";
  margin-left: 5px;
  font-size: 35px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  padding: 5px;
  cursor: pointer;
}

header img {
  margin-top: 5px;
  cursor: pointer;
}

/* Footer component  */

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: auto;
  padding: 0 0 1em 0;
  position: relative;
  clear: both;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

footer ul li a {
  text-decoration: none;
  color: #000;
}

/* Home Page */

.home-section {
  flex-direction: column;
}

.banner-image {
  width: 100%;
}

/* About Me Page */

.cat-face {
  max-width: 350px;
  float: left;
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
  margin-right: 20px;
}

.cat-bod {
  max-width: 350px;
  float: right;
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
  margin-left: 20px;
}

.about-section {
  overflow: scroll;
}

.first-about-paragraph {
  margin-bottom: 6%;
}

/* Contacts Page */
.contact-div {
  width: 100%;
  margin: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-media {
  margin-bottom: 1em;
}

.social-media ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-media ul li {
  padding: 0 1em;
}

.contact-div p {
  display: flex;
  flex-direction: column;
}

.contact-div a {
  color: #ff00b3;
  text-decoration: none;
}

.contact-div a:hover,
footer a:hover {
  color: #000
}

.contact-div i {
  font-size: 3em;
  margin-top: 10px;
}

i.social-i {
  font-size: 30px;
}

.fa-smile {
  color: #ff00b3;
}


@media screen and (max-width: 980px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
  }

  .cat-face {
    max-width: 150px;
  }

  .cat-bod {
    max-width: 150px;
  }

  main {
    width: 95vw;
  }

  .browser-window {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* height: auto; */
    max-height: 80vh;
    padding: 10px;
    overflow: auto;
  }

  section {
    margin-left: 0;
    overflow: scroll;
  }
}