
/* general styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  /* width: 80vh; */
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section-title { /* this goes on all h2 section titles */
  font-family: 'UnifrakturMaguntia', 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.btn {
  padding: 10px 15px;
  margin: 5px;
  background-color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

/* header and footer styling */

h1 {
  font-family: 'UnifrakturMaguntia', 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 0.02rem;
  padding: 0 1em;
}


header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

header ul li {
  padding: 0 3em;

}

header ul li:hover,
footer ul li a:hover {
  color: #ff00b3;
  cursor: pointer;
}

header ul li.active {
  color: chartreuse;
  cursor: pointer;
}

footer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-end;
  background-color: #000000;
  background-image: url('./assets/images/smileybanner.png');
  width: 100%;
  height: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2em;
  z-index: 2;
  position: relative;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer ul li {
  padding: 1em;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none; 
}

footer ul li a span {
  color: #ff00b3;
}

footer ul li a span:hover {
  color: #fff;
}

/* cover  styling */
.cover-empty {
  width: 100%;
  height: 600px;
}

.cover {
  background-image: url('./assets/images/catblackandwhite.gif');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 550px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}

.cover h2 {
  margin: 3em;
}


/* about, project, and constact form styling */
.about,
.projects,
.contacts,
.resume {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin-top: 2em;
}

.contacts,
.resume {
  margin: 3em;
}

.about-wrapper,
.projects-wrapper,
.contact-wrapper,
.resume-wrapper {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.about-wrapper h2,
.projects-wrapper h2,
.contact-wrapper h2,
.resume-wrapper h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  flex-direction: row-reverse;
  margin: 2em;
  font-size: 2em;
}

.about-wrapper p {
  margin: 3em;
  font-weight: lighter;
  line-height: 1.25em;;
}

.about-wrapper img {
  margin: 20px 15px;
  float: left;
  shape-outside: circle(50%);
  width: 45%;
}

h3 {
  font-size: 1.45em;
}

/* .project-tiles {
  position: relative;
  width: 60%;
} */

/* .project-tiles figure{
  opacity: 0;
  transition: opacity 0.55s ease;
  background-color: rgba(255, 0, 242, 0.5);
}

.project-tiles figure:hover {
  opacity: 1;
} */

.project-tile-wrapper {
  display: flex;
  margin-bottom: 3em;
}

.project-tiles img {
  width: 300px;
}

figure {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  font-size: 0;
}

.project-tiles figcaption {
  position: absolute;
  z-index: 3;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255, 0.75);
  font-size: 4rem;
  font-weight: lighter;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.55s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tiles:hover figcaption {
  opacity: 1;
}

.project-text {
  margin-left: 1em;
  line-height: 1.25;

}

.project-text p {
  letter-spacing: .1em;
}

.project-text i {
  color: #fff;
}

.project-text a {
  color: #fff;
  text-decoration: none;
}

.project-text a:hover {
  color: #ff00b3;
}

.contact-wrapper input,
.contact-wrapper textarea {
  padding: 5px;
  border: 1px #000;
  border-radius: 5px;
  margin: 5px;
  width: 250px;
}

.form {
  display: flex;
  margin: 2em;
  flex-direction: column;
}

.contact-number {
  margin: 5em;
}

.contact-number p {
  /* line-height: 1.45; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.contact-number a {
  color: #fff;
  text-decoration: none;
}

.contact-number a:hover,
footer a:hover {
  color: #ff00b3;
}

.contact-number i {
  font-size: 3em;
  margin-top: 10px;
}

.resume-details {
  margin: 2em;
  display: flex;
}

.resume-details div {
  margin-right: 1em;
  width: 25em;
}

.resume-details div h3 {
  margin: 15px 0;
}

.skill-list {
  list-style: none;
  line-height: 1.25em;
}

.skill-list ul {
  padding-left: 1em;
  /* list-style: none; */
}